<!DOCTYPE html>
<html>
  <head>
    {{!--
      Data for templating, such as title below, can be added
      in the data.json file. Data can either be added globally
      or on a page specific basis.
    --}}
    <title>{{title}}</title>
    <meta charset="utf-8" />
    {{!-- All scripts and styles will be compiled into these files. --}}
    <link rel="stylesheet" type="text/css" href="{{OUTPUT_STYLE_FILENAME}}" />
    <script type="text/javascript" src="{{OUTPUT_SCRIPT_FILENAME}}"></script>
  </head>
  <body>
